/chromedriver
/chromedriver.exe
/BBB2.py
/BBB_TEST.py
/config.py
/asd.html
/image.py
/dogdrip.py
/config.py
/asd.html
/naver_shopping.py
/log_nsfw_gifsf_01.txt
/chromedriver.exe
/BBB2.py
/BBB_TEST.py
/logger.py
/chromedriver
/soup.html
/soup.txt

/nsfw.py
/nsfw_gezip.py
/nsfw_gifsf.py

/venv/
/.idea/
/requirements.txt

